* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header {
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #08a9d6), to(#a3e3f7));
  background: linear-gradient(to right, #08a9d6 1%, #a3e3f7 100%);
  padding: 20px;
  color: #fff;
  text-align: center;
}

.app-header h1 {
  font-style: italic;
  font-weight: 400;
}

.contact-filter input[type='text'] {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #e7e7e7;
}

.contact-filter input[type='text']:focus {
  outline: none;
}

.contact-list {
  list-style: none;
}

.contact-list-message {
  text-align: center;
  padding: 25px 0;
  font-style: italic;
  color: #999;
}

.contact-record {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.contact-record.contact-record--selected {
  background-color: #fff;
}

.contact-name {
  padding-left: 10px;
}

.contact-select {
  margin-left: auto;
}

.contact-select input[type='checkbox'] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  width: 30px;
  height: 30px;
  background-color: #25dd81;
  opacity: 0;
  border-radius: 40px;
  margin-right: 20px;
  position: relative;
  -webkit-transition: opacity 0.2s ease, background-color 0.2s ease;
  transition: opacity 0.2s ease, background-color 0.2s ease;
}

.contact-select input[type='checkbox']:not(:checked) {
  background-color: #777;
}

.contact-select input[type='checkbox']:not(:checked):hover {
  opacity: 0.25;
}

.contact-select input[type='checkbox']:checked {
  opacity: 1;
}

.contact-select input[type='checkbox']:checked:hover {
  opacity: 0.75;
}

.contact-select input[type='checkbox']:before {
  position: absolute;
  display: block;
  content: '';
  height: 100%;
  width: 100%;
  background-image: url("../icons/check.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.contact-avatar {
  padding: 4px;
}

.contact-avatar img {
  background-color: #e2e2e2;
  width: 50px;
  display: block;
  border-radius: 50px;
}
/*# sourceMappingURL=main.css.map */