* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fff;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.app-header {
	background: linear-gradient(to right, #08a9d6 1%, #a3e3f7 100%);
	padding: 20px;
	color: #fff;
	text-align: center;
	h1 {
		font-style: italic;
		font-weight: 400;
	}
}

.contact-filter {
	input[type='text'] {
		display: block;
		width: 100%;
		padding: 10px;
		border: none;
		border-radius: 0;
		border-bottom: 1px solid rgb(231, 231, 231);
		&:focus {
			outline: none;
		}
	}
}

.contact-list {
	list-style: none;
}

.contact-list-message {
	text-align: center;
	padding: 25px 0;
	font-style: italic;
	color: #999;
}

.contact-record {
	display: flex;
	align-items: center;
	background-color: rgb(247, 247, 247);
	border-bottom: 1px solid rgb(231, 231, 231);
	transition: background-color 0.2s ease;
	&.contact-record--selected {
		background-color: #fff;
	}
}

.contact-name {
	padding-left: 10px;
}

.contact-select {
	margin-left: auto;
	input[type='checkbox'] {
		appearance: none;
		display: block;
		width: 30px;
		height: 30px;
		background-color: rgb(37, 221, 129);
		opacity: 0;
		border-radius: 40px;
		margin-right: 20px;
		position: relative;
		transition: opacity 0.2s ease, background-color 0.2s ease;
		&:not(:checked) {
			background-color: #777;
			&:hover {
				opacity: 0.25;
			}
		}
		&:checked {
			opacity: 1;
			&:hover {
				opacity: 0.75;
			}
		}
		&:before {
			position: absolute;
			display: block;
			content: '';
			height: 100%;
			width: 100%;
			background-image: url('../icons/check.png');
			background-repeat: no-repeat;
			background-position: center;
			filter: invert(100%);
		}
	}
}

.contact-avatar {
	padding: 4px;
	img {
		background-color: rgb(226, 226, 226);
		width: 50px;
		display: block;
		border-radius: 50px;
	}
}
